<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
        <li class="partners__item">
            <img src="./assets/icons/partners/airbnb.svg" width="97" height="30" alt="">
        </li>
        <li class="partners__item">
            <img src="./assets/icons/partners/amazon.svg" width="97" height="30" alt="">
        </li>
        <li class="partners__item">
            <img src="./assets/icons/partners/fedex.svg" width="96" height="30" alt="">
        </li>
        <li class="partners__item">
            <img src="./assets/icons/partners/microsoft.svg" width="116" height="30" alt="">
            
        </li>
        <li class="partners__item">
            <img src="./assets/icons/partners/google.svg" width="91" height="30" alt="">
        </li>
        <li class="partners__item">
            <img src="./assets/icons/partners/ola.svg" width="94" height="32" alt="">
        </li>
        <li class="partners__item">
            <img src="./assets/icons/partners/walmart.svg" width="114" height="28" alt="">
        </li>
        <li class="partners__item">
            <img src="./assets/icons/partners/oyo.svg" width="80" height="28" alt="">
        </li>
    </ul>
  </div>
</section>
